<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="w-100 h-100">
        <%- include('./partials/nav.ejs') %>
            <div class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
                <div class="card" style="width: 30rem; height: 25rem; ">
                    <form class="card-body row d-flex justify-content-center align-items-center">
                        <h5 class="card-title d-flex justify-content-center align-items-center">Login</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center align-items-center">login
                            with
                            email and password</h6>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" autocomplete='email' class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" autocomplete='current-password' class="form-control" id="password"
                                placeholder="Password">
                        </div>
                        <button type="button" onclick="LoginFormSubmit()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
    </div>
    <%- include('./partials/foot.ejs') %>
    <script type="text/javascript" src="../api/views/views-services.js" >
    </script>
</body>

</html>